@media screen and (max-width: 960px) {
  .row {
    width: 80rem;
  }
  .serviceTitle {
    margin-bottom: 8%;
  }
  .serviceDetailsIconBox {
    width: 90%;
    text-align: center;
    margin: 2% 0;
  }
}
@media only screen and (max-width: 720px) {
  .row {
    width: 50rem;
  }
  .stickyNavMenu {
    visibility: visible;
  }
  .navItemWrappper {
    display: none;
  }
  .offerIconBoxDes1 ul,
  .offerIconBoxDes2 ul,
  .offerIconBoxDes3 ul {
    margin: 5% 7%;
  }
  .messageForm input[type="email"],
  .messageForm input[type="name"],
  .messageForm input[type="phone"] {
    width: 100%;
  }
  .messageForm #serviceSelect {
    width: 100%;
  }
  .messageForm input[type="text"] {
    width: 100%;
  }
  .aboutBox img {
    height: auto;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 400px) {
  .row {
    width: 45rem;
  }
  html {
    font-size: 50%;
  }
  .offerContentWrapper h3 {
    font-size: 2.6rem;
  }
  .offerIconBox1 span.offerIconTitle,
  .offerIconBox2 span.offerIconTitle,
  .offerIconBox3 span.offerIconTitle {
    font-size: 1.8rem;
  }
  i.offerIconFirst {
    font-size: 2.2rem;
  }
  .offerIconDesTitle {
    font-size: 1.8rem;
  }
  .offerIconBoxDes1 p,
  .offerIconBoxDes2 p,
  .offerIconBoxDes3 p {
    font-size: 1.4rem;
  }
  .offerIconBoxDes1 ul,
  .offerIconBoxDes2 ul,
  .offerIconBoxDes3 ul {
    margin: 5% 10%;
    font-size: 1.4rem;
  }
  .btnOffer {
    font-size: 1.4rem;
  }
  .contactDetail {
    text-align: center;
  }
  .infoItem i {
    display: contents;
  }
  .mapBox {
    width: 90%;
    margin: auto;
  }
  .aboutBox,
  .sponsoreSection {
    text-align: center;
  }
  .aboutBox img {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .row {
    width: 35rem;
  }
  .heroContent {
    padding-top: 40%;
  }
  .heroContent h1 {
    font-size: 3.2rem;
  }
  .heroContent h2 {
    font-size: 2.5rem;
  }
  .heroContent h6 {
    font-size: 1.4rem;
  }
  .btnHero {
    font-size: 1.4rem;
  }
  .offerContentBox {
    width: 100%;
    float: none;
  }
  .offerImageBox {
    width: 100%;
    float: none;
    position: inherit;
  }
  .offerIconBoxDes1 ul,
  .offerIconBoxDes2 ul,
  .offerIconBoxDes3 ul {
    margin: 5% 6%;
  }
  .counterSection .row {
    margin: 0 auto;
  }
  .messageForm input[type="submit"] {
    margin: 2% auto;
    display: block;
  }
}
