*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
body {
  cursor: default;
  overflow-x: hidden;
  font-size: 1.5rem;
}
.row {
  width: 100rem;
  margin: 0 auto;
}
section {
  padding: 1% 0;
}
p {
  font-family: var(--heebo);
  line-height: 1.4;
  letter-spacing: 0.02em;
}
a {
  font-family: var(--oswald);
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 6.2rem;
  font-family: var(--oswald);
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.02em;
}
h2 {
  font-size: 5rem;
  font-family: var(--oswald);
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 4.5rem;
  font-family: var(--oswald);
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.02em;
}
h4 {
  font-size: 4rem;
  font-family: var(--oswald);
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.02em;
}
h5 {
  font-size: 3rem;
  font-family: var(--oswald);
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.02em;
}
h6 {
  font-size: 2rem;
  font-family: var(--oswald);
  font-weight: 400;
  margin: 0;
  letter-spacing: 0.02em;
}
.btn {
  padding: 1.5rem 3.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
}
:root {
  --main-color: #04518c;
  --heebo: "Heebo", sans-serif;
  --oswald: "Oswald", sans-serif;
}
.stickyNavMenu {
  visibility: hidden;
  width: 10%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.stickyNavMenu i {
  color: #fff;
  font-size: 2.3rem;
  cursor: pointer;
}
.stickyNavItems {
  width: 90%;
  height: 0;
  transition: all 0.7s;
  opacity: 0;
  margin: auto;
  overflow: hidden;
  background: #222;
  display: grid;
  text-align: center;
  padding-top: 1rem;
}
.stickyNavItems li a {
  font-family: var(--oswald);
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
}
.toggleNavItems {
  height: 13rem;
  opacity: 1;
}
.headerSection {
  width: 100%;
  height: auto;
  margin-bottom: 4%;
}
.logo {
  width: 90%;
  margin: auto;
  cursor: pointer;
}
.logo img {
  max-width: 100%;
}
.navigationMenu {
  width: 90%;
  height: 7rem;
  margin: auto;
  background: var(--main-color);
  margin-top: 1%;
  border-radius: 0.5rem;
}
.navItemWrappper {
  width: 100%;
  height: 7rem;
  display: block;
}
.navLinks {
  width: 25%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.navLinks li a {
  font-family: var(--oswald);
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
}
.headerAdress {
  width: 100%;
  height: auto;
  background: #a0b6ff;
  text-align: center;
}
.headerAdress h6 {
  font-size: 1.6rem;
  color: #003056;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 1.4;
}
.headerAdress h5 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #003056;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 1.4;
}
.sliderSection {
  width: 100%;
  height: auto;
  padding: 0 0;
}
.owl-item {
  margin-top: -2%;
}
.heroSlider01 {
  width: 100%;
  height: 55rem;
  text-align: center;
  background: url(../img/image0-Copy.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.heroSlider02 {
  width: 100%;
  height: 55rem;
  text-align: center;
  background: url(../img/slider02.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.heroSlider03 {
  width: 100%;
  height: 55rem;
  text-align: center;
  background: url(../img/slider03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.heroContent {
  padding-top: 15%;
}
.heroContent h1 {
  font-size: 5.2rem;
  background: rgba(12, 12, 12, 0.67);
  color: #fff;
  display: table;
  font-weight: 400;
  line-height: 1.7;
  margin: 1% auto;
}
.heroContent h2 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.7;
  margin: 1% auto;
  background: rgba(12, 12, 12, 0.67);
  color: #fff;
  display: table;
}
.heroContent h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  margin: 1% auto;
  font-family: var(--heebo);
  background: rgba(12, 12, 12, 0.67);
  color: #fff;
  display: table;
}
.btnHero {
  background: #00a1d9;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--oswald);
  font-size: 1.8rem;
  font-weight: 600;
}
.btnHero:hover {
  background: var(--main-color);
}
.owl-theme .owl-dots .owl-dot {
  outline: 0 !important;
}
.owl-theme .owl-dots .owl-dot span {
  background: 0 0;
  outline: 0;
  border: 0.2rem solid #000;
}
.owl-theme .owl-dots .active span {
  background: var(--main-color) !important;
  border: 0.1rem solid var(--main-color) !important;
}
.homeService {
  width: 100%;
  height: auto;
  display: inline-block;
}
.serviceIconBox1 {
  background: #003056;
  padding: 2% 2%;
  text-align: center;
}
.serviceIconBox1 h4 {
  color: #fff;
  font-size: 3rem;
  line-height: 1.4;
  margin: 1% 0 5% 0;
  text-transform: uppercase;
}
.serviceIconBox1 a.btn {
  text-transform: uppercase;
  background: #ffdb3e;
  padding: 1rem 2.5rem;
}
.serviceIconBox1 a.btn:hover {
  background: var(--main-color);
  color: #fff;
}
.serviceIconBox2 {
  background: #003056;
  padding: 2% 2%;
  text-align: center;
}
.serviceIconBox2 h4 {
  color: #fff;
  font-size: 3rem;
  line-height: 1.4;
  margin: 1% 0 5% 0;
  text-transform: uppercase;
}
.serviceIconBox2 a.btn {
  text-transform: uppercase;
  background: #ffdb3e;
  padding: 1rem 2.5rem;
}
.serviceIconBox2 a.btn:hover {
  background: var(--main-color);
  color: #fff;
}
.serviceIconBox3 {
  background: #003056;
  padding: 2% 2%;
  text-align: center;
}
.serviceIconBox3 h4 {
  color: #fff;
  font-size: 3rem;
  line-height: 1.4;
  margin: 1% 0 5% 0;
  text-transform: uppercase;
}
.serviceIconBox3 a.btn {
  text-transform: uppercase;
  background: #ffdb3e;
  padding: 1rem 2.5rem;
}
.serviceIconBox3 a.btn:hover {
  background: var(--main-color);
  color: #fff;
}
.serviceSection {
  width: 100%;
  height: auto;
  margin: 5% 0;
}
.serviceTitle {
  text-align: center;
  width: 100%;
  height: auto;
}
.serviceDetails {
  width: 100%;
  height: auto;
  padding: 3% 0;
  display: inline-block;
}
.serviceTitle h2 {
  color: #003056;
  font-size: 3.6rem;
  margin: 1% 0 3% 0;
}
.serviceTitle p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 2% 0;
  color: #222;
  position: relative;
}
.serviceTitle p:after {
  content: "";
  display: inline-block;
  width: 7rem;
  height: 0.3rem;
  background: #eee;
  margin: auto;
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -140%);
}
.serviceDetailsIconBox i {
  color: #ffdb3e;
  display: block;
  font-size: 3.5rem;
}
.serviceDetailsIconBox h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #04518c;
  line-height: 1.4;
  margin: 3% 0;
}
.serviceDetailsIconBox p {
  color: #777;
  font-size: 1.4rem;
  line-height: 1.9;
}
.serviceButton {
  text-align: center;
}
.btnService {
  display: inline-block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  background: #ffdb3e;
}
.btnService:hover {
  background: #04518c;
  color: #fff;
}
.offerSection {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 0;
}
.offerImageBox {
  width: 50%;
  height: 100%;
  float: left;
  position: absolute;
  background: url(../img/image0-1213.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.offerContentBox {
  width: 50%;
  height: 100%;
  float: right;
  background: #04518c;
}
.offerContentWrapper {
  padding: 10% 8%;
}
.offerContentWrapper h3 {
  color: #fff;
  font-weight: 400;
  font-size: 3.6rem;
  position: relative;
  text-transform: capitalize;
}
.offerIconBoxWrapper {
  padding: 5% 0;
}
i.offerIconFirst {
  color: #ffdb3e;
  font-size: 3.2rem;
  margin-right: 1.5rem;
}
.offerIconBox1,
.offerIconBox2,
.offerIconBox3 {
  padding: 3% 0;
  cursor: pointer;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0.1);
}
.offerIconBox1 span.offerIconTitle,
.offerIconBox2 span.offerIconTitle,
.offerIconBox3 span.offerIconTitle {
  color: #fff;
  font-family: var(--oswald);
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.offerIconBox1 i.offerIconSecond,
.offerIconBox2 i.offerIconSecond,
.offerIconBox3 i.offerIconSecond {
  text-align: right;
  color: #fff;
  position: absolute;
  right: 5%;
}
.offerIconDesTitle {
  color: #eee;
  font-family: var(--heebo);
  font-size: 2.2rem;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.02em;
  font-weight: 300;
  margin: 5% 0 0 0;
  display: inline-block;
  cursor: default;
}
.offerIconBoxDes1,
.offerIconBoxDes2,
.offerIconBoxDes3 {
  overflow: hidden;
  transition: all 0.7s;
  opacity: 0;
  height: 0;
}
.toggleOfferIconDes {
  height: auto;
  opacity: 1;
}
.offerIconBoxDes1 p,
.offerIconBoxDes2 p,
.offerIconBoxDes3 p {
  color: #eee;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
  cursor: default;
  margin-top: 5%;
}
.offerIconBoxDes1 ul,
.offerIconBoxDes2 ul,
.offerIconBoxDes3 ul {
  margin: 5% 4%;
  list-style-type: circle;
  color: #eee;
  font-family: var(--heebo);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.7;
  cursor: default;
}
.btnOffer {
  background: #e3e3e3;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.btnOffer:hover {
  background: #04518c;
  color: #fff;
}
.testimonialSection {
  width: 100%;
  height: auto;
  padding: 10% 0;
  background: #f2f2f2;
}
.testimonialTitle {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}
.testimonialTitle h2 {
  text-transform: capitalize;
  color: #003056;
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;
}
.testimonialDes {
  width: 100%;
  height: auto;
}
.owl-carousel .owl-stage-outer {
  padding: 4% 0;
}
.testimonialBox {
  margin: 0 1rem;
  padding: 3rem;
  background: #fff;
  border-radius: 1rem;
}
.testimonialBox i {
  text-align: center;
  display: block;
  margin: 3% auto;
  color: #4b4e50;
  font-size: 1.8rem;
  line-height: 1.7;
}
.testimonialBox p.clientDes {
  text-align: center;
  font-style: italic;
  color: #4b4e50;
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 3% 0;
}
.testimonialBox p:last-child {
  color: #777;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  margin: 1% 0;
}
.partnarSection {
  width: 100%;
  height: auto;
  background: #f2f2f2;
}
.partnarImageBox {
  margin: 0 1rem;
  padding: 3rem;
  background: #fff;
  border-radius: 1rem;
}
.couponSection {
  width: 100%;
  height: auto;
  background: #f2f2f2;
  padding-top: 3%;
  padding-bottom: 15%;
}
.couponContainer {
  width: 100%;
  height: auto;
  padding: 2%;
  background: #ffdb3e;
}
.couponBox {
  width: 100%;
  height: auto;
  border: 0.1rem dashed #000;
  text-align: center;
}
.couponBox h2 {
  color: #cc1f1a;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2% 0;
}
.couponBox h2 span {
  color: #cc1f1a;
  font-size: 2rem;
  font-weight: 700;
  vertical-align: top;
}
.couponBox h4 {
  color: #000;
  font-size: 2rem;
  font-family: var(--heebo);
  text-transform: uppercase;
  margin-bottom: 1%;
}
.btnCoupon {
  background: #cc1f1a;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-family: var(--oswald);
  line-height: 1.4;
  color: #fff;
  padding: 0.5rem 3rem;
}
.btnCoupon:hover {
  background: #04518c;
}
.couponBox p {
  font-size: 1.3rem;
  color: #000;
  line-height: 1.4;
  margin: 2% 0;
  letter-spacing: 0.02em;
}
.counterSection {
  width: 100%;
  height: auto;
  padding: 4% 0;
  background-image: url(../img/counter_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.counterSection .row {
  margin: 4% auto;
}
.counterSection {
  text-align: center;
}
.counterBox i {
  color: #47d9bf;
  font-size: 4.5rem;
  margin-right: 2%;
}
.counterNumber {
  color: #47d9bf;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--oswald);
}
.after {
  color: #47d9bf;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: var(--oswald);
  vertical-align: top;
}
.counterBox p {
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin: 3% 0;
}
.messageSection {
  width: 100%;
  height: auto;
  padding: 8% 0;
  background: -webkit-linear-gradient(left, #00a3d9 0, #32c8c8 99%);
  margin-bottom: 8%;
}
.messageBox h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.messageForm input[type="email"],
.messageForm input[type="name"],
.messageForm input[type="phone"] {
  background: #fff;
  color: #777;
  font-weight: 300;
  width: 45%;
  margin: 1% 1%;
  outline: 0;
  border-radius: 0.3rem;
  padding: 1rem 2rem 1rem 1.5rem;
  border: 0.2rem solid #eee;
  font-family: var(--heebo);
}
.messageForm #serviceSelect {
  background: #fff;
  color: #777;
  font-weight: 300;
  width: 45%;
  margin: 1% 1%;
  outline: 0;
  border-radius: 0.3rem;
  padding: 1rem 2rem 1rem 1.5rem;
  border: 0.2rem solid #eee;
  font-family: var(--heebo);
  cursor: pointer;
  -webkit-appearance: none;
  background-image: url(../img/select-arrow1.png);
  background-repeat: no-repeat;
  background-position: center right;
}
.messageForm input[type="text"] {
  background: #fff;
  color: #777;
  font-weight: 300;
  width: 93%;
  margin: 1% 4% 1% 1%;
  outline: 0;
  border-radius: 0.3rem;
  padding: 1rem 2rem 1rem 1.5rem;
  border: 0.2rem solid #eee;
  font-family: var(--heebo);
}
.messageForm input[type="submit"] {
  padding: 1rem 5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  font-family: var(--oswald);
  background: #ffdb3e;
  color: #222;
  font-size: 1.6rem;
  font-weight: 500;
  outline: 0;
  border: none;
  border-radius: 0.3rem;
  margin: 1% 0 1% 1%;
}
.messageForm input[type="submit"]:hover {
  background: #044a7f;
  color: #fff;
}
.footerSection {
  width: 100%;
  height: auto;
  padding: 8% 0;
  background: #102739;
}
.footerBox h5 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-bottom: 5%;
  margin-left: 5%;
}
.footerDes1 {
  color: #babcbe;
  letter-spacing: 0.02em;
  line-height: 1.4;
  text-transform: uppercase;
  margin-left: 5%;
}
.footerDes2 {
  color: #babcbe;
  letter-spacing: 0.02em;
  line-height: 1.9;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.brandBox {
  width: 100%;
  margin-left: 5%;
}
.brandBox img {
  max-width: 7%;
  margin: 0 1%;
}
.payBox {
  margin-left: 5%;
}
.payBox img {
  border-radius: 0.4rem;
  display: inline-block;
  max-width: 10%;
}
.copyRight {
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  color: #babcbe;
  letter-spacing: 0.02em;
  line-height: 1.7;
  margin-top: 5%;
}

.authorLink {
  color: #ddd;
}

.authorLink:hover {
  text-decoration: underline;
}
